html
    head
        style
        script(scr="a.js")
        link(rel="stylesheet", href="a.css")
        a(href="http://www.baidu.com") 首页
    body
        div(title="aaa",id="div1")
            ul
                li
                li
                li
        div&attributes({title:'aaa',id:'div1'})