html
    head
        style
        script(scr="a.js")
        link(rel="stylesheet", href="a.css")
        a(href="http://www.baidu.com") 首页
    body
        div
            ul
                li
                li
                li
        div