<div class="left-wrap">
    <a href="/admin/banners">banner设置</a>
    <a href="/admin/blog">blog设置</a>
    <a href="/admin/custom">联系方式</a>
    <a href="/admin/intro">产品介绍</a>
    <a href="/admin/msg">留言管理</a>
</div>